@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
  /* scroll-behavior: smooth; */
}

a {
  text-decoration: none;
  text-transform: none;
  text-indent: none;
}

.text-gradient {
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* #root>div>div>div.MuiBox-root.css-ib9iq6>div>div.parentBox.MuiBox-root.css-0>div>div.css-1abc02a {
  position: fixed;
}

#root>div>div>div.MuiBox-root.css-ib9iq6>div>div.parentBox.MuiBox-root.css-0>div>div.css-hn784z {
  position: fixed;
}


#root>div>div>div.MuiBox-root.css-ib9iq6>div>div.parentBox.MuiBox-root.css-ga8bvj>div>div.css-hn784z>button {
  top: 800px !important
}

#root>div>div>div.MuiBox-root.css-ib9iq6>div>div.parentBox.MuiBox-root.css-ga8bvj>div>div.css-1abc02a>button {
  top: 800px !important
} */